<?xml version='1.0' encoding='utf-8'?>
<robot name="partnet_fed045d07c91bb2723901b5a0f119b35">
	<link name="base"><inertial><mass value="0.1" /><inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0" /></inertial></link>
	<link name="link_0">
		<visual name="container-3">
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="Salter/TowerSalter/textured_objs/20406_Tower_salt_shaker_v2.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="Salter/TowerSalter/textured_objs/20406_Tower_salt_shaker_v2.obj"/>
			</geometry>
		</collision>
	<inertial><mass value="0.1" /><inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0" /></inertial></link>
	<joint name="joint_0" type="fixed">
		<origin rpy="0 0 -1.570796326794897" xyz="0 0 0" />
		<child link="link_0" />
		<parent link="base" />
	</joint>
</robot>