<?xml version='1.0' encoding='utf-8'?>
<robot name="square_plate">
	<link name="base"><inertial><mass value="0.1" /><inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0" /></inertial></link>
	<link name="link_1">
		<visual name="body-6">
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="Plate/SquarePlate/Square.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="Plate/SquarePlate/Square.obj"/>
			</geometry>
		</collision>
	<inertial><mass value="0.1" /><inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0" /></inertial></link>
	<joint name="joint_1" type="fixed">
		
		<origin rpy="3.14 3.14 -1.570796326794897" xyz="0 0 0" />
		<child link="link_1" />
		<parent link="base" />
	</joint>
</robot>